@font-face {
    font-family: 'fonte'; */
    src: url(../../fontes/Xilla\ Bold.otf);
}


/* CSS do Cabeçalho */
html{
    scroll-behavior: smooth;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    margin: 0 auto;
    min-width: none;
}

header .navegacao_primaria{
    display: flex;
    align-items:end;
    background-color: #ffffff;
    padding: 30px;
    justify-content: end;
    margin-right: ;
}

header .navegacao_primaria li a{
    padding: 10px;
    color: #000000;
    font-family: 'fonte' ;
    font-size: 27px;
    margin-right:8vh;
}

header .navegacao_primaria li a:hover{
    color:#315cfd;
}

/* CSS da Primeira Imagem */

.personagem p{
    text-align: justify;
    margin-left: 13%;
    font-size: 50px;
    
}

.personagem{
    margin-top: 30vh;
    display: inline-block;
    width: 70vw;
    height: 63vh;

}

button {
    width: 170px;
    height: 55px;
    border: 3px solid #96a9ec;
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.0em;
    font-weight: 550;
    margin-left: 14%;
}
  
button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.1em;
}

.corpo {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.about p {
    font-size: 24px;
    margin-top: 6%;
}

.about img{
    width: 70px;
}

.redes-sociais img {
    margin: 0 40px 0 0;
    margin-top: 10%;
    cursor: pointer;
}

.redes-sociais img:hover {
    transform: scale(0.7);
}

.about h2 {
    font-size: 50px;
    color: #0b2447;
}

.texto-historia {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-right: 40px;
}

.texto-historia h2{
    font-size: 50px;
    color: #0b2447;
}

/* Habilidades */
.habilidade{
    text-align: center;
    margin-top: 8%;
    background-color:  #30193fe0; 
    font-size: 40px;
    color: #fff;
}

.container{
    display: flex;
    gap: 20px; 
    justify-content: center;
    
}

.logo_cs img,
.html img,
.js img {
    max-width: 100%;
    margin-top: 20%;
    width: 180px;
}

.logo_cs:hover img,
.html:hover img,
.js:hover img {
    transform: scale(1.1);
}

/* Projetos */

.projetos-sites{
    justify-content:center;
    display: flex;
    align-items:center ;
    gap: 20px;
}

.sites{
    justify-content:center;
    display: flex;
    align-items:center ;
    animation: pular 4s ease-in-out infinite;

}

.sites img{
    width: 33vh;
    
}

.projetos{
    text-align: center;
    margin-top: 8%;
    padding: 30px;
    background-color:  #0760a8c2;
    font-family: 'fonte';
    font-size: 40px;
    color: #ffffff;
}

/* Roda pé*/
.contatos h2{
    text-align: center;
    margin-top: 8%;
    padding: 30px;
    background-color:  #b3560adc; 
    font-family: 'fonte';
    font-size: 40px;
    color: #fff;
}

.imagens-ctt{
    display: flex;
    gap: 60px; 
    justify-content: center;
}

.whatsapp img{
    width: 100px;
    margin-top: 89%;
    animation: pular 4s ease-in-out infinite;  
}

.ins img{
    width: 100px;
    margin-top: 87%;
    animation: pular 4s ease-in-out infinite;
}

.git img{
    width: 150px;
    margin-top: 40%;
    animation: pular 4s ease-in-out infinite;
}

footer{
    
    height: 40vh;
}

.menu{
    display: block;
}

#menu-drop {
   display: none;
   text-align: center;
   cursor: pointer;
   padding: 10px;
}

.voltar-inicio{   
    position:fixed;
    top: 50vh;
    right: 20px;
    text-decoration: none;
    border: 1px solid #FFBD59;
    background-color: #FFBD59;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'fonte';
    font-size: 26px;
}

@media (max-width: 730px){
    body{
       max-width: 730px;
    }
    #menu{
        display: none;
    }

    #menu-drop {
        font-size: 40px;
        display: block;
        text-align: end;
        cursor: pointer;
        padding: 10px;
        background-color: #0b2447;
        color: white;
     } 

    .voltar-inicio{
        display: none;
    }

    .personagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
    }

    .personagem img{
        width: 25vh;
        margin-left: 0%;
    }

    .balao{
        font-size: 30px;
        font-family: 'fonte';
        background-color: #0b2447;
        color: #fcec0b;
        border-radius: 10px;
        padding: 10px 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10%;
        margin-right: 35%;
    } 

    .container{
        margin-top: 26px;
    }

    .text{
    font-size: 25px;
    max-width: 60%;
    font-family: 'fonte';
    animation: pular 3.2s ease-in-out infinite;
    margin-top: 5%;
    }

    .habilidade{
        text-align: center;
        margin-top: 8%;
        padding: 30px;
        background-color:  #30193fe0; 
        font-family: 'fonte';
        font-size: 40px;
        color: #fff;
    }
    
    .sites img{
        width: 27vh; 
        margin-top: 10px;
    }
    
    .projetos{
        font-size: 28px;
        padding: 13px;
    }

    .contatos h2{
        font-size: 32px;
        padding: 30px;
        color: #fff;
    }

    .imagens-ctt{
        display: flex;
        justify-content: center;
    }

    .whatsapp img{
        width: 10vh;
        animation: none; 
    }
    
    .ins img{
        width: 10vb;
        animation: none;
    }
    
    .git img{
        width: 15vh;
        animation: none; 
    }
}